In [1]:
import pandas as pd
import numpy as np

In [2]:
data_train=pd.read_csv('train.csv')
data_test=pd.read_csv('test.csv')

In [4]:
data_train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
data_train.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
data_train['Property_Area'].value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [7]:
data_train['Gender'].fillna('Male',inplace=True)

In [8]:
data_train['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [9]:
data_train['Married'].fillna('Yes',inplace=True)
data_train['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [10]:
data_train['Dependents'].fillna('0',inplace=True)
data_train['Self_Employed'].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [11]:
data_train['Self_Employed'].fillna('No',inplace=True)

In [12]:
data_train['LoanAmount'].fillna(data_train['LoanAmount'].mean(),inplace=True)

In [13]:
data_train['Loan_Amount_Term'].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
36.0       2
60.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [14]:
data_train['Loan_Amount_Term'].fillna(data_train['Loan_Amount_Term'].mean(),inplace=True)

In [15]:
data_train['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [16]:
data_train['Credit_History'].fillna(data_train['Credit_History'].mean(),inplace=True)

In [17]:
data_train.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [18]:
data_train['Dependents'].value_counts()

0     360
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [19]:
data_train['Education'].value_counts()

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [20]:
data_train.drop(['Loan_ID'],inplace=True,axis=1)
data_test.drop(['Loan_ID'],inplace=True,axis=1)

In [21]:
train_x=data_train.iloc[0:,:11]
train_y=data_train.iloc[:,11: ]

In [22]:
def fun(x):
  if x=='0':
    return 0
  if x=='1':
    return 1
  if x=='2':
    return 2
  if x=='3+':
    return 3

In [23]:
train_x['Dependents']=train_x['Dependents'].apply(fun)
data_test['Dependents']=data_test['Dependents'].apply(fun)

In [24]:
columns=['Gender','Married','Education','Self_Employed','Property_Area']
for c in columns:
  x=pd.get_dummies(train_x[c],drop_first=True)
  train_x.drop(c,axis=1,inplace=True)
  train_x=pd.concat([train_x,x],axis=1)
  x=pd.get_dummies(data_test[c],drop_first=True)
  data_test.drop(c,axis=1,inplace=True)
  data_test=pd.concat([data_test,x],axis=1)

In [25]:
train_x

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Male,Yes,Not Graduate,Yes,Semiurban,Urban
0,0,5849,0.0,146.412162,360.0,1.0,1,0,0,0,0,1
1,1,4583,1508.0,128.000000,360.0,1.0,1,1,0,0,0,0
2,0,3000,0.0,66.000000,360.0,1.0,1,1,0,1,0,1
3,0,2583,2358.0,120.000000,360.0,1.0,1,1,1,0,0,1
4,0,6000,0.0,141.000000,360.0,1.0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,2900,0.0,71.000000,360.0,1.0,0,0,0,0,0,0
610,3,4106,0.0,40.000000,180.0,1.0,1,1,0,0,0,0
611,1,8072,240.0,253.000000,360.0,1.0,1,1,0,0,0,1
612,2,7583,0.0,187.000000,360.0,1.0,1,1,0,0,0,1
613,0,4583,0.0,133.000000,360.0,0.0,0,0,0,1,1,0

In [26]:
cnt=1
new_col=[]
for c in train_x.columns:
  if c=='Yes':
    new_col.append(c+str(cnt))
    cnt=cnt+1
  else:
    new_col.append(c)
train_x.columns=new_col
data_test.columns=new_col

In [27]:
train_x.rename(columns={'Yes1':'Married', 'Yes2':'Self_Employed'},inplace=True)
data_test.rename(columns={'Yes1':'Married', 'Yes2':'Self_Employed'},inplace=True)

In [28]:

train_x

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Male,Married,Not Graduate,Self_Employed,Semiurban,Urban
0,0,5849,0.0,146.412162,360.0,1.0,1,0,0,0,0,1
1,1,4583,1508.0,128.000000,360.0,1.0,1,1,0,0,0,0
2,0,3000,0.0,66.000000,360.0,1.0,1,1,0,1,0,1
3,0,2583,2358.0,120.000000,360.0,1.0,1,1,1,0,0,1
4,0,6000,0.0,141.000000,360.0,1.0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,2900,0.0,71.000000,360.0,1.0,0,0,0,0,0,0
610,3,4106,0.0,40.000000,180.0,1.0,1,1,0,0,0,0
611,1,8072,240.0,253.000000,360.0,1.0,1,1,0,0,0,1
612,2,7583,0.0,187.000000,360.0,1.0,1,1,0,0,0,1
613,0,4583,0.0,133.000000,360.0,0.0,0,0,0,1,1,0

In [29]:
def func(x):
  if x=='Y':
    return 1
  if x=='N':
    return 0

In [30]:
train_y['Loan_Status']=train_y['Loan_Status'].apply(func)

In [31]:
from sklearn.metrics import accuracy_score
import pickle
from sklearn.externals import joblib

C:\Users\Amit kumar mishra\anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [32]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [33]:
from sklearn.linear_model import LogisticRegression

In [34]:
model=LogisticRegression()

In [35]:
model.fit(train_x,train_y)

C:\Users\Amit kumar mishra\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [36]:
joblib.dump(model,open('model.pkl','wb'))